extends ../admin_layout.html.jade

block content
  h1 #{title}
  table(id="pagesTable")
    thead
      tr
        th Name
        th Title
        th Path
    tbody
      each item in content
        tr
          td
            a(href="/admin/pages/#{item.name}") #{item.name}
          td #{item.title}
          td
            a(href="/pages/#{item.name}", target="_blank") /pages/#{item.name}
  div(class="clear")
  p
    a(href="/admin/addpage") Add New Page